/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: Helvetica,Arial, sans-serif ;
}

.row{
    display: flex;
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: " ";
    display: block;
    clear: both;
}
.col{
    float: left;
    margin-left: 8px;
    margin-right: 8px;
}
.col-third{
    width: 33.3333%;
}
.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}
.text-conter{
    text-align: center !important;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
#main{

}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 46px;
    background-color: black;
    font-size: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#nav , .subnav{
    list-style-type: none;
    cursor: pointer;
}

#nav > li{
    display: inline-block;
}

#nav li{
    position: relative;
    
}
/* Chỉ ảnh hưởng ở cấp 1  */
#nav > li:hover > a{
    background-color: #ccc ;
    color: black;
}
#nav > li > a{
    color: white;
    text-transform: uppercase;
}
#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}
#nav li:hover .subnav{
    display: block;
}
#nav .subnav{
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
}
#nav .subnav a{
    color: black;
    padding: 0 12px;
    line-height: 38px;
}
#nav .subnav li:hover{
    background-color: #ccc ;
    color: black;
}
.nav-arrow-down{
    font-size: 14px;
}

#header .search-btn{
    color: white;
    width: 62px;
    height: 46px;
    display: block;
    text-align: center;
}
#header .search-btn:hover{
    background-color:#f44336;
    cursor: pointer;
}
#header .search-icon{
    line-height: 46px;
    font-size: 15x;
    font-weight: 600;
}

#slider{
    position: relative;
    margin-top: 46px;
    /* padding-top:50% : chiều cao luôn bằng 1 nửa chiều rộng dù thu nhỏ phóng to trình duyệt */
    padding-top: 50%;
    background-image: url('/W3__band/assest/img/Slider/Slider1.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

#slider .text-content{
    position: absolute;
    color: white;
    bottom: 47px;
    /* Căn giữa */
     /* left: 50%;
    transform: translateX(-50%);  */
    width: 100%;
    text-align: center;
}
.text-heading{
    font-weight: 500;
    font-size: 24px;
}
.text-descriptio{
    font-size: 15px;
    margin-top: 24px;
}

#content{

}

#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
#content .section-heading,
#content .section-sub-heading{
    text-align: center;
}
#content .section-heading{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
}
#content .section-sub-heading{
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}
#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    /* line-height:1.6 dành cho chữ tiếng việt
        line-height: 1.4 dành cho chữ tiếng anh; */
    line-height: 1.4;
}

#content .members-list{
    margin-top: 48px;
    display: flex;
    
}

#content .member-item{
   width: calc(100% / 3);
   text-align: center;
}
#content .member-name{

}
#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

/* Tour section */
.tour-section{
    background-color: black;
    color: white;
}
.tickets-list{
    background-color: #fff;
    color: black;
    margin-top: 40px;
    list-style: none;
}
.tickets-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}
.tickets-list .sold-out{
    background-color: #f44336;
    color: white;
    padding: 3px 4px;
    margin-left: 16px;
}
.tickets-list .quatity{
   float: right;
   width: 24px;
   height: 24px;
   background-color: black;
   color: white;
   border-radius: 50%;
   text-align: center;
   line-height: 24px;
   margin-top: -3px;
}

/* Places */
.places-list{
    margin-top: 32px;
    display: flex;
    /* Căn đều bức ảnh sang 2 bên */
    margin-left: -8px;
    margin-right: -8px;
}
.place-item{
    width: 33.3333%;
    padding: 0 8px;
}

.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 15px;
}

.place-heading{
    font-size: 15px;
    font-weight: 600;
}

.place-time{
    margin-top: 15px;
    color: #757575;
}

.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}

.place-buy-btn{
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    cursor: pointer;
}

.place-buy-btn:hover{
    color: black;
    background-color: #cccccc;
}

/* Contact */
.contact-body{
    padding: 32px 0;
    display: flex;
}
.contact-list{
    margin-bottom: 15px;
    width: 50%;
}
.contact-item{
    display: flex;
    align-items: center;
}
.contact-icon{
    width: 30px;
}
.contact-item--info{
    line-height: 1.4;
    font-size: 18px;
}

.contact-notice{
    }
.contact-user{
    display: block;
    width: 100%;
}

.contact-name{
    font-size: 14px;
    height: 40px;
    padding: 8px;
    border: 1px solid #ccc;
}
.contact-email{
    font-size: 14px;
    height: 40px;
    padding: 8px;
    margin-left: 16px;
    border: 1px solid #ccc;
}
.contact-message{
    font-size: 14px;
    height: 40px;
    outline: none;
    border: 1px solid #ccc;
    margin-top: 8px;
    padding: 8px;
    display: block;
    width: 100%;
}
.contact-email:focus,
.contact-name:focus,
.contact-message:focus{
    border: 2px solid #101010;
}
.contact-send{
    float: right;
    text-decoration: none;
    font-size: 15px;
    padding: 8px 16px;
    margin: 16px 0;
    background-color: black;
    color: white;
    text-align: center;
    
}
.contact-send:hover{
    background-color: #ccc;
    color: black;
}

/* contract form */
.contract-content{
    margin-top: 48px;
}
.contract-info{
    font-size: 18px;

}
.contract-info--icon{
    width: 30px;
    display: inline-block;
}
.contract-form{
    font-size: 15px;
}
.contract-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.contract-form .form-submit-btn{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 16px;
    float: right; 
}
.contract-form .form-submit-btn:hover{
    cursor: pointer;
    background-color: #ccc;
    color: black;
}

/* Map section */
.map-section{
    width: 100%;
}
#footer{
    padding: 64px 16px;
    text-align: center;
}
#footer .socials-list{
    font-size: 24px;
}
#footer .socials-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
#footer .socials-list a:hover{
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}
#footer .copyright a{
    color: rgba(0, 0, 0, 0.6);
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    animation:modalFadeIn ease .5s;
    display: none;

}
.modal-container{
    background-color: #fff;
    width: 900px;
    
    /* cách trái phải 16px khi bị thu nhỏ màn hình */
    max-width: calc( 100% - 32px );
    min-height: 200px;
    position: relative;

}

.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}
.modal-close:hover{
    opacity: 1;
}
.modal-header{
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-heading-icon{
    margin-right: 16px;
}

.modal-body{
    padding: 16px;
    flex-direction: column;
    display: flex;
}

.model-label{
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input{
    border: 1px solid #ccc;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
    outline-color: #009688;
}



#buy-tickets{
    background-color: #009688;
    border: none;
    color: white;
    text-transform: uppercase;
    padding: 12px;
    cursor: pointer;
}

#buy-tickets:hover{
    opacity: 0.9;
}

.modal-footer{
    padding: 16px;
    text-align: right;
}

.modal-footer a{
    color: #2196F3;
}

.modal-help{

}

.modal.open{
    display: flex;
}

@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}